&HEAD CHID='{{chid}}', TITLE='Parameter study test - HRRPUA={{hrrpua}}' /
&MESH IJK=20,20,20, XB=0.0,2.0,0.0,2.0,0.0,2.0 /
&TIME T_END=10.0 /
&MISC STRATIFICATION=.FALSE. /
&REAC FUEL='METHANE' /
&SURF ID='BURNER', HRRPUA={{hrrpua}}, COLOR='RED' /
&VENT XB=0.8,1.2,0.8,1.2,0.0,0.0, SURF_ID='BURNER' /
&VENT XB=0.0,0.0,0.0,2.0,0.0,2.0, SURF_ID='OPEN' /
&DEVC XYZ=1.0,1.0,1.9, QUANTITY='TEMPERATURE', ID='T_ceiling' /
&DEVC XYZ=1.0,1.0,1.0, QUANTITY='TEMPERATURE', ID='T_center' /
&TAIL /
